{% include home_head.html %}
<body>
        <div id="header">
            <section id="intro">
                <div class="intro-wrapper">
                    <img src="img/0.png" alt="Connie sitting in an aerial hoop midair while holding on to her laptop. She looks at what is on her screen." />
                    <h1>Hi! I'm <span>Connie Scoullis 👋</span></h1> 
                    <p>
                        My website is under construction, but you can still reach out to me via <a href="mailto:scoullisconstantina@gmail.com"><strong>email</strong></a> or <a href="https://www.linkedin.com/in/constantina-scoullis/"><strong>LinkedIn</strong></a>!
                    </p>
                </div>
            </section>
            <section id="links">
                <div id="links-buttons">
                    <!--<a href="https://github.com/constantina-js">
                        <div class="link-button">
                            Work on GitHub
                        </div>
                    </a>

                    <a href="Scoullis_Constantina_resume_final.pdf">
                        <div class="link-button">
                            Resume
                        </div>
                    </a>-->
                </div>
                <div id="links-social">
                    <!--<a href="mailto:scoullisconstantina@gmail.com">
                        <div class="social-circle">
                            <img src="img/icons/envelope.svg" />
                        </div>
                    </a>

                    <a href="https://www.linkedin.com/in/constantina-scoullis/">
                        <div class="social-circle">
                            <img src="img/icons/linkedin-in.svg" />
                        </div>
                    </a>
                    
                    <a href="https://www.fiverr.com/connie_scoullis">
                        <div class="social-circle">
                            <img src="img/icons/fiverr.svg" />
                        </div>
                    </a>-->
                </div>
                <br>
                <br>
            </section>
        </div>
        <section id="more-about-info">
            <div class="more-info-row">
                <img src="img/best-babies.png" alt="Connie's two cats: Otto, a 9-year-old white and gray cat, and Cannoli, a 4-month-old silver and black tabby kitten"/>
                <p>I also have two cats that I love and adore, and will take any opportunity to show them off. The big white and gray cat is <strong>Otto</strong>, and the small silver/black tabby is <strong>Cannoli</strong>.</p>
            </div>
        </section>

    </body>

{% include home_footer.html %}