    <header>
        
        <div id="light-dark-mode-switch">
            <label class="switch">
                <input type="checkbox" id="darkModeToggle">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="header-section">
            <div id="propic-area">
                <img src="./img/0.png" alt="Connie with her laptop on a lyra, or aerial hoop">
            </div>

            <div id="header-text">
                <h1>Constantina Scoullis</h1>
                <h2>Lorem ipsum dolor sit amet</h2>
                <h4><em>Also goes by Connie.</em></h4>
            </div>

        </div>

        <nav class="menu">
            <ul>
                <li><a href="https://constantina.info">home</a></li>
                <li><a href="">blog</a></li>
                <li><a href="https://www.linkedin.com/in/constantina-scoullis/">linkedin</a></li>
                <li><a href="https://github.com/constantina-js">github</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </nav>

        <div class="line-break"></div>

    </header>
