<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content='Constantina "Connie" Scoullis'
        />
        <link rel="canonical" href="http://constantina-js.github.io" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content='Constantina "Connie" Scoullis' />
        <meta property="og:description" content='Constantina "Connie" Scoullis' />
        <meta property="og:image" content="img/0.png" />
        <meta property="og:url" content="http://constantina-js.github.io" />
        <meta property="og:site_name" content='Constantina "Connie" Scoullis' />
        <script src="{{ site.baseurl }}/assets/js/index.js"></script>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
        <title>Constantina "Connie" Scoullis</title>
    </head>
    <body>
    
    {% include header.html %}

    <div class="body-wrapper">
        <div class="blog-post">
            <p class="post-meta">

                <h1> {{ page.title }}</h1>
                <h2> {{ page.tagline }}</h2>

                <time datetime="{{ page.date | date_to_xmlschema }}">
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    {{ page.date | date: date_format }}
                </time>

            </p>    
            <div class="post-tags">
                {% for tag in site.tags %}
                    <h3 class="tag"> <a href="{{ post.url }}">#{{ tag[0] }}</a></h3>
                {% endfor %}
            </div>
            <div class="break"></div>
            
            {{ content }}

        </div>

        <div class="break"></div>

        <div class="blog-nav">

        </div>
    </div>
        
    </body>

{% include footer.html %}